<app-user-filter (filter)="handleFilter($event)"></app-user-filter>

<app-selectable-list
  [controlsTemplate]="controls"
  [displayColumns]="displayedColumns"
  [listOfElements]="displayedProfiles"
></app-selectable-list>

<ng-template #controls let-index="index">
  @if (displayedProfiles[index].profileTypes.includes(ProfileType.WAITER)) {
    <button class="bg-red-500 p-2 rounded" (click)="demoteUser(index)">
      <img ngSrc="assets/images/common/arrow_down.png" alt="demote" width="15" height="15">
    </button>
  } @else {
    <button class="bg-green-500 p-2 rounded" (click)="promoteUser(index)">
      <img ngSrc="assets/images/common/arrow_up.png" alt="promote" width="15" height="15">
    </button>
  }
</ng-template>
