<header class="h-[92vh] grid grid-cols-1 grid-rows-1 text-amber-500" id="home-welcome">

  <h1 class="content-center text-center text-5xl font-bold bg-black bg-opacity-40">
    {{ "home.welcome" | translate }}
  </h1>

</header>

<main class="grid md:grid-cols-3 sm:grid-cols-1 grid-rows-1 gap-5 m-5">
  @for (card of promoCards; track card.id) {
    <figure class="bg-slate-100 rounded-xl p-8 md:p-0 shadow">
      <img
        [ngSrc]="card.imgSrc"
        class="rounded-xl mx-auto shadow-2xl"
        alt="Promo picture"
        height="427"
        width="640"
      >

      <div class="pt-6 md:p-8 text-justify space-y-4">
        <p class="text-lg font-medium">
          {{ card.text | translate }}
        </p>
      </div>
    </figure>
  }
</main>

<section class="grid md:grid-cols-2 sm:grid-cols-1 gap-5 p-10">
  <div class="content-center text-justify">
    {{ "home.reserve_promo.text" | translate }}
  </div>
  <div class="flex justify-center">
    <ol class="relative border-s border-gray-200">
      @for (reservationStep of reservationSteps; track reservationStep.id) {
        <li class="ms-6" [ngClass]="{ 'mb-10': !$last }">
        <span
          class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white">
            <img [ngSrc]="reservationStep.imgSrc" fill alt="add_icon">
        </span>
          <h3 class="font-medium leading-tight text-amber-500">{{ reservationStep.title | translate }}</h3>
          <p class="text-sm text-gray-500">{{ reservationStep.subtext | translate }}</p>
        </li>
      }
    </ol>
  </div>
</section>

<footer class="bg-amber-500 h-[15vh] grid grid-cols-1 grid-rows-1">
  <div class="content-center text-center font-bold">
    {{ 'app_title' | translate }} &copy; {{ currentDate | date: 'yyyy' }}
  </div>
</footer>
