<section class="grid grid-rows-1 grid-cols-12 mt-5">
  <div class="md:col-span-2 sm:col-span-1"></div>
  <article class="md:col-span-8 sm:col-span-10 min-h-96 shadow-2xl border rounded-xl bg-amber-50 py-5">

    <table class="table-auto border-separate border-spacing-x-10 border-spacing-y-5 mx-auto">
      <caption class="caption-top text-gray-500">
        * {{ 'menu.extra_fees_included' | translate }}
      </caption>
      <thead>
      <tr>
        <th>{{ 'menu.food_table.name' | translate }}</th>
        <th>{{ 'menu.food_table.allergens' | translate }}</th>
        <th>{{ 'menu.food_table.price' | translate }} *</th>
      </tr>
      </thead>
      <tbody>
        @for (menuItem of menuItems; track menuItem.id) {
          <tr>
            <td>
              <div>{{ menuItem.name }}</div>
              <p class="text-gray-500">{{ menuItem.description }}</p>
            </td>
            <td>{{ menuItem.allergens | array: 'name' }}</td>
            <td>{{ menuItem.price | price }}</td>
          </tr>
        }
      </tbody>
    </table>

  </article>

  <div class="md:col-span-2 sm:col-span-1"></div>

</section>

<a *ngIf="false" [queryParams]="{ page: 1 }" [routerLink]="['menu']">click me</a>
